<footer class="footer">
    <div class="container_footer">
        <div class="row_footer">
            <div class="footer-col">
                <h4>DT Airlines</h4>
                <ul class="item">
                    <li><a href="">Experiencia DT</a></li>
                    <li><a href="/customProduct">Prepara tu viaje</a></li>
                    <li><a href="/productCart">Mis viajes</a></li>
                    <li><a href="">Estado de vuelo</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Informacion Legal</h4>
                <ul class="item">
                    <li><a href="">Devolución de tasas de embarque</a></li>
                    <li><a href="">Conoce tus derechos</a></li>
                    <li><a href="">Cargos por servicio</a></li>
                    <li><a href="">Políticas de privacidad y seguridad</a></li>
                    <li><a href="">Términos de uso</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Portales asociados</h4>
                <ul class="item">
                    <li><a href="">LATAM Pass</a></li>
                    <li><a href="">Vamos / LATAM</a></li>
                    <li><a href="">Paquetes, hoteles y más</a></li>
                    <li><a href="">LATAM Corporate</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>síguenos</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="footer-col">
                <h4>Nuestra app en tu teléfono</h4>
                <div class="plataformas">
                    <a href=""><img src="/images/as.jpeg" alt=""></a>
                    <a href=""><img src="/images/gp.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="footer-footer">
            <h3 class="ff-content">Copyright © 2022-2022 DigitalTourism S.R.L.</h3>
        </div>
    </div>
</footer>
