<footer>
    <div class="footer-main">
        <div class="footer-div">
            <h3 class="dt-arilines">DT Airlines</h3>
            <ul class="main-ul">
               <li><a href="">Experiencia DT</a></li>
               <li><a href="/customProduct">Prepara tu viaje</a></li>
               <li><a href="/productCart">Mis viajes</a></li>
               <li><a href="">check-in</a></li>
               <li><a href="">Estado de vuelo</a></li>
            </ul>
        </div>
        <div class="footer-div">
            <h3 class="dt-arilines">Informacion Legal</h3>
            <ul class="main-ul">
               <li><a href="">Devolución de tasas de embarque</a></li>
               <li><a href="">Conoce tus derechos</a></li>
               <li><a href="">Cargos por servicio</a></li>
               <li><a href="">Políticas de privacidad y seguridad</a></li>
               <li><a href="">Términos de uso</a></li>
            </ul>
        </div>
        <div class="footer-div">
            <h3 class="dt-arilines">Portales asociados</h3>
            <ul class="main-ul">
               <li><a href="">LATAM Pass</a></li>
               <li><a href="">Vamos / LATAM</a></li>
               <li><a href="">Paquetes, hoteles y más</a></li>
               <li><a href="">Paquetes, hoteles y más</a></li>
               <li><a href="">LATAM Corporate</a></li>
            </ul>
        </div>
    </div>
    <div class="midle">
        <div class="contacta">
            <h3>Contacta con nosotros</h3>
            <div class="redes">
                <a href="" id="first-img"><img src="/images/ig.jpg" alt=""></a>
                <a href=""><img src="/images/fb.png" alt=""></a>
                <a href=""><img src="/images/yt.png" alt=""></a>
                <a href=""><img src="/images/tw.png" alt=""></a>
            </div>
        </div>
        <div class="descarga">
            <h3>Nuestra app en tu teléfono</h3>
            <div class="plataformas">
                <a href=""><img src="/images/as.jpeg" alt=""></a>
                <a href=""><img src="/images/gp.png" alt=""></a>
            </div>
        </div>
    </div>

   <div class="footer-footer">
     <h3 class="ff-content">Copyright © 2022-2022 DigitalTourism S.R.L.</h3>
   </div>
 </footer>

 <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
