<header>
    <div class="div-logo">
        <a href="/">
            <img class="logo-img" src="/images/logo.jpeg" alt="Imagen Logo">
        </a>
    </div>
    <div class="div-pages">
        <ul type="none">
            <li><a href="/customProduct">Crea tu experiencia</a></li>
            <li><a href="/productDetail">Paquetes armados</a></li>
            <li><a href="/productDetail">ofertas</a></li>
        </ul>
    </div>
    <div class="div-links">
        <div class="div-i-1">
            <a href="/productCart"><i class="fa-solid fa-plane-up"></i></a>
        </div>
        <div class="div-i-2">
            <a href="/login"><i class="fa-solid fa-user"></i></a>
        </div>
    </div>
    <div class="burger-menu">
        <a href=""><i class="fas fa-bars"></i></a>
    </div>
</header>