<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/customProduct.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet" />
    <title>Digital Tourism</title>
</head>

<body>
    <header>
        <div class="div-logo">
            <a href="/">
                <img class="logo-img" src="/images/logo.jpeg" alt="Imagen Logo" />
            </a>
        </div>
        <div class="div-pages">
            <ul type="none">
                <li><a href="/customProduct">Crea tu experiencia</a></li>
                <li><a href="/productDetail">Paquetes armados</a></li>
                <li><a href="/productDetail">ofertas</a></li>
            </ul>
        </div>
        <div class="div-links">
            <div class="div-i-1">
                <a href="/productCart"><i class="fa-solid fa-plane-up"></i></a>
            </div>
            <div class="div-i-2">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
    </header>

    <main>
        <div class="gigant-carousel">
            <div class="top-div">
                <div class="carousel1">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel2">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bottom-div">
                <div class="carousel3">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel4">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel5">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel6">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-section">
            <h2>IDA Y VUELTA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

        <div class="title-section">
            <h2>ESTADIA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

        <div class="title-section">
            <h2>SERVICIO DE HOTELERIA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

    </main>

    <footer>
        <div class="footer-main">
            <div class="footer-div">
                <h3 class="dt-arilines">DT Airlines</h3>
                <ul class="main-ul">
                    <li><a href="">Experiencia DT</a></li>
                    <li><a href="/customProduct">Prepara tu viaje</a></li>
                    <li><a href="/productCart">Mis viajes</a></li>
                    <li><a href="">check-in</a></li>
                    <li><a href="">Estado de vuelo</a></li>
                </ul>
            </div>
            <div class="footer-div">
                <h3 class="dt-arilines">Informacion Legal</h3>
                <ul class="main-ul">
                    <li><a href="">Devolución de tasas de embarque</a></li>
                    <li><a href="">Conoce tus derechos</a></li>
                    <li><a href="">Cargos por servicio</a></li>
                    <li><a href="">Políticas de privacidad y seguridad</a></li>
                    <li><a href="">Términos de uso</a></li>
                </ul>
            </div>
            <div class="footer-div">
                <h3 class="dt-arilines">Portales asociados</h3>
                <ul class="main-ul">
                    <li><a href="">LATAM Pass</a></li>
                    <li><a href="">Vamos / LATAM</a></li>
                    <li><a href="">Paquetes, hoteles y más</a></li>
                    <li><a href="">Paquetes, hoteles y más</a></li>
                    <li><a href="">LATAM Corporate</a></li>
                </ul>
            </div>
        </div>
        <div class="midle">
            <div class="contacta">
                <h3>Contacta con nosotros</h3>
                <div class="redes">
                    <a href="" id="first-img"><img src="/images/ig.jpg" alt="" /></a>
                    <a href=""><img src="/images/fb.png" alt="" /></a>
                    <a href=""><img src="/images/yt.png" alt="" /></a>
                    <a href=""><img src="/images/tw.png" alt="" /></a>
                </div>
            </div>
            <div class="descarga">
                <h3>Nuestra app en tu teléfono</h3>
                <div class="plataformas">
                    <a href=""><img src="/images/as.jpeg" alt="" /></a>
                    <a href=""><img src="/images/gp.png" alt="" /></a>
                </div>
            </div>
        </div>

        <div class="footer-footer">
            <h3 class="ff-content">Copyright © 2022-2022 DigitalTourism S.R.L.</h3>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>