<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600&display=swap" rel="stylesheet">
    <title>Digital Tourism Home</title>
</head>
<body>
    <header>
        <div class="div-logo">
            <a href="/">
                <img class="logo-img" src="/images/logo-latam.jpg" alt="Imagen Logo">
            </a>
        </div>
        <div class="div-links">
            <div class="div-i-1">
                <a href="/productCart"><i class="fa-solid fa-plane-up"></i></a>
            </div>
            <div class="div-i-2">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
    </header>
    <main>
        <section class="section-nav">
            <div class="div-filters">
                <select name="" id="">
                    <option value="none">Elegi una opción</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <select name="" id="">
                    <option value="none">Elegi una opción</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
                <select name="" id="">
                    <option value="none">Elegi una opción</option>
                    <option value="">1</option>
                    <option value="">2</option>
                    <option value="">3</option>
                </select>
            </div>
            <form class="nav-gaps" action="">
                <div class="div-origen-destino">
                    <div class="div-origen">
                        <label class="main-label" for="">Origen</label>
                        <input class="main-input" type="text" value="" name="">
                    </div>
                    <div class="div-destino">
                        <label class="main-label" for="">Destino</label>
                        <input class="main-input" type="text" value="" name="">
                    </div>                                
                </div>
                <div class="div-ida-vuelta">
                    <div class="div-ida">
                        <label class="main-label" for="">Fecha ida</label>
                        <input class="main-input" type="text" value="" name="">
                    </div>
                    <div class="div-vuelta">
                        <label class="main-label" for="">Fecha vuelta</label>
                        <input class="main-input" type="text" value="" name="">
                    </div>                                    
                </div>
                <div class="div-search">
                    <button type="submit" class="search-buttom">Buscar</button>
                </div>
            </form>

        </section>
    </main>
    <footer>

    </footer>
</body>
</html>