<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head')  %> 
<body>
    
    <%- include('./partials/header') %> 

    <main>
        <div class="desplegable-div">

            <div id="desplegable" class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem;">
                    <a href="/productCart" class="cart-desplegable">
                        <i class="fa-solid fa-plane-up"></i>
                    </a>
                    <a href="/customProduct" class="cart-desplegable">
                        <i class="fa-solid fa-pen-to-square"></i>
                    </a>
                    <a href="/productDetail" class="cart-desplegable">
                        <i class="fa-solid fa-cart-flatbed-suitcase"></i>
                    </a>
                    <a href="/productDetail" class="cart-desplegable">
                        <i class="fa-solid fa-fire"></i>
                    </a>
                <div class="dropdown border-top">
                  <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="https://github.com/mdo.png" alt="mdo" width="24" height="24" class="rounded-circle">
                  </a>
                  <ul class="dropdown-menu text-small shadow">
                    <li><a class="dropdown-item" href="#">Profile</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Sign out</a></li>
                  </ul>
                </div>
              </div>

        </div>
        <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="slide 1">
                <div class="carousel-caption d-none d-md-block">
                  <h5></h5>
                  <p></p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000">
                <img src="/images/backgroundSnow.jpg" class="d-block w-100" alt="slide 2">
                <div class="carousel-caption d-none d-md-block">
                  <h5></h5>
                  <p></p>
                </div>
              </div>
              <div class="carousel-item">
                <img src="/images/backgroundMountain.webp" class="d-block w-100" alt="slide 3">
                <div class="carousel-caption d-none d-md-block">
                  <h5></h5>
                  <p></p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>

          </div>
        <section class="section-nav">
            <div class="div-top">
                <div class="busca-paquete">
                    <h4>Busca tu paquete aqui</h4>
                </div>
                <div class="div-filters">
                <div class="main-select">
                    <select name="" id="">
                        <option value="none">Tipo de Cabina</option>
                        <option value="">Economy</option>
                        <option value="">Premium</option>
                        <option value="">Premium vip</option>
                    </select>
            </div>
                <div class="main-select">
                    <select name="" id="">
                        <option value="none">Tipo de servicio</option>
                        <option value="">2 Estrellas</option>
                        <option value="">3 Estrellas</option>
                        <option value="">4 Estrellas</option>
                        <option value="">5 Estrellas</option>
                    </select>
            </div>
                <div class="main-select">
                    <select name="" id="">
                        <option value="none">Pasajeros</option>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5 o mas</option>
                    </select>
            </div>
                </div>
            </div>
            <form class="nav-gaps" action="">
                <div class="div-origen-destino">
                    <div class="div-origen">
                        <label class="main-label" for="Origen"><i class="fa-solid fa-plane-departure"></i></label>
                        <input class="main-input" type="text" id="Origen" name="Origen" placeholder="Origen">
                    </div>
                    <div class="div-destino">
                        <label class="main-label" for="destino"><i class="fa-solid fa-location-dot"></i></label>
                        <input class="main-input" type="text" id="destino" name="destino" placeholder="Destino">
                    </div>                                
                </div>
                <div class="div-ida-vuelta">
                    <div class="div-ida">
                        <label class="main-label" for="ida">Fecha ida</label>
                        <input class="main-input" type="date" id="ida" name="ida">
                    </div>
                    <div class="div-vuelta">
                        <label class="main-label" for="vuelta">Fecha vuelta</label>
                        <input class="main-input" type="date" id="vuelta" name="vuelta">
                    </div>                                    
                </div>
                <div class="div-search">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>

        </section>
        <div class="title-div">
            <h2 class="articles-title">Paquetes mas comprados</h2>
        </div>
        <section class="article-section">

            <a href="/product" class="main-article">
                <div class="div-precio">
                    <p class="precio">$9.999</p>
                </div>
                <img src="/images/logo2.jpg" alt=""> 
                <div class="div-viaje">
                    <h4 class="viaje">De ++++ A ++++</h4>
                </div>
                <div class="div-descripcion">
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                        dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                </div>                                   
            </a>     
            <a href="/product" class="main-article">
                <div class="div-precio">
                    <p class="precio">$9.999</p>
                </div>
                <img src="/images/logo2.jpg" alt=""> 
                <div class="div-viaje">
                    <h4 class="viaje">De ++++ A ++++</h4>
                </div>
                <div class="div-descripcion">
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                        dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                </div>                                   
            </a>  
            <a href="/product" class="main-article">
                <div class="div-precio">
                    <p class="precio">$9.999</p>
                </div>
                <img src="/images/logo2.jpg" alt=""> 
                <div class="div-viaje">
                    <h4 class="viaje">De ++++ A ++++</h4>
                </div>
                <div class="div-descripcion">
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                        dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                </div>                                   
            </a>  
            <a href="/product" class="main-article">
                <div class="div-precio">
                    <p class="precio">$9.999</p>
                </div>
                <img src="/images/logo2.jpg" alt=""> 
                <div class="div-viaje">
                    <h4 class="viaje">De ++++ A ++++</h4>
                </div>
                <div class="div-descripcion">
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                        dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                </div>                                   
            </a>  
        </section>
    </main>

    <%- include('./partials/footer') %> 
</body>
</html>