<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
    <title>DH LogIn</title>
</head>

<body>
    <header>
        <div class="div-logo">
            <a href="/">
                <img class="logo-img" src="/images/logo.jpg" alt="Imagen Logo">
            </a>
        </div>
        <div class="div-pages">
            <ul type="none">
                <li><a href="/customProduct">Crea tu experiencia</a></li>
                <li><a href="/productDetail">Paquetes armados</a></li>
                <li><a href="/productDetail">ofertas</a></li>
            </ul>
        </div>
        <div class="div-links">
            <div class="div-i-1">
                <a href="/productCart"><i class="fa-solid fa-plane-up"></i></a>
            </div>
            <div class="div-i-2">
                <a href="/login"><i class="fa-solid fa-user"></i></a>
            </div>
        </div>
        <div class="burger-menu">
            <a href=""><i class="fas fa-bars"></i></a>
        </div>
    </header>

    <main>

        <form class="form-login" action="/login" method="GET">
            <h4>Iniciar sesión </h4>
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
            <label for="recodarme"> <input type="checkbox" name="recordarme" > Recordarme </label>
            <input class="botons" type="submit" value="Iniciar Sesión">
            <p> ¿Se te olvidó tu contraseña?<a href="#"> Click Aqui</a></p>
        </form>

    </main>

    <footer>

        <div class="footer-main">
            <div class="footer-div">
                <h3 class="dt-arilines">DT Airlines</h3>
                <ul class="main-ul">
                    <li><a href="">Experiencia DT</a></li>
                    <li><a href="/customProduct">Prepara tu viaje</a></li>
                    <li><a href="/productCart">Mis viajes</a></li>
                    <li><a href="">check-in</a></li>
                    <li><a href="">Estado de vuelo</a></li>
                </ul>
            </div>
            <div class="footer-div">
                <h3 class="dt-arilines">Informacion Legal</h3>
                <ul class="main-ul">
                    <li><a href="">Devolución de tasas de embarque</a></li>
                    <li><a href="">Conoce tus derechos</a></li>
                    <li><a href="">Cargos por servicio</a></li>
                    <li><a href="">Políticas de privacidad y seguridad</a></li>
                    <li><a href="">Términos de uso</a></li>
                </ul>
            </div>
            <div class="footer-div">
                <h3 class="dt-arilines">Portales asociados</h3>
                <ul class="main-ul">
                    <li><a href="">LATAM Pass</a></li>
                    <li><a href="">Vamos / LATAM</a></li>
                    <li><a href="">Paquetes, hoteles y más</a></li>
                    <li><a href="">Paquetes, hoteles y más</a></li>
                    <li><a href="">LATAM Corporate</a></li>
                </ul>
            </div>
        </div>
        <div class="midle">
            <div class="contacta">
                <h3>Contacta con nosotros</h3>
                <div class="redes">
                    <a href="" id="first-img"><img src="/images/ig.jpg" alt=""></a>
                    <a href=""><img src="/images/fb.png" alt=""></a>
                    <a href=""><img src="/images/yt.png" alt=""></a>
                    <a href=""><img src="/images/tw.png" alt=""></a>
                </div>
            </div>
            <div class="descarga">
                <h3>Nuestra app en tu teléfono</h3>
                <div class="plataformas">
                    <a href=""><img src="/images/as.jpeg" alt=""></a>
                    <a href=""><img src="/images/gp.png" alt=""></a>
                </div>
            </div>
        </div>

        <div class="footer-footer">
            <h3 class="ff-content">Copyright © 2022-2022 DigitalTourism S.R.L.</h3>
        </div>
    </footer>
</body>

</html>