

/* 
font-family: 'Roboto', sans-serif; (bold: 200, 400 y 600)
*/
*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
/*HEADER*/

header{
    width: 100%;
    background-color: #2155CD;
    display: flex;
    justify-content: space-between;
}

/*LOGO*/

.div-logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div-logo a{
    width: 100%; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 80%;
    height: 100%;
}

/*nav*/
.div-pages{
    width: 60%;
    display: none;
    justify-content: center;
    align-items: flex-end;
}
.div-pages ul{
    width: 100%;
    padding-left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.div-pages ul li a{
    text-decoration: none;
    color: white;
}

.div-links{
    width: 20%;
    display: none;
    justify-content: flex-end;
    align-items: center;

}

.div-i-1, .div-i-2{
    width: 30%;
    display: flex;
} 
.div-links div a i{
    font-size: 30px;
    color: white;
}
.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
.burger-menu a i{
    color: white;
    font-size: 30px;
}


/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*CARROUSELL*/
.carrousell{
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrousell h1{
    color: black;
}

/*SECTION-SEARCH*/

/*TOP*/

.section-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

}
.div-top{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.busca-paquete{
    display: flex;
    align-items: flex-end;
}
.busca-paquete h4{
    margin-left: 2%;
    background-color: aliceblue;
}
.div-filters{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.main-select{
    width: 60%;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2% ;
}
.main-select select{
    width: 100%;
    border-radius: 5px;
}
/*NAV-GAPS*/

.nav-gaps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-origen-destino, .div-ida-vuelta{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}
.div-destino, .div-vuelta{
    margin-top: 2%;
}
.div-origen, .div-destino, .div-ida, .div-vuelta{
    display: flex;
    flex-direction: column;
}

.main-input{
    width: 60%;
    height: 2em;
    margin-left: 2%;
    border: black 1px solid;
    border-radius: 5px;
}
.main-label{
    margin-bottom: 2%;
    margin-left: 2%;
}

.div-search{
    width: 100%;
    text-align: center;
}

.search-buttom{
    width: 135px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: all, 0.5s;
    border-radius: 5px;
}
.search-buttom:hover{
    color: white;
    background-color: #2155CD;

}

/*ARTICLES*/

.article-section{
    margin-top: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.articles-title{
    width: 100%;
    margin-left: 5%;
}
.main-article{
    width: 80%;
    margin-top: 5%;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    background-color: aliceblue;
    margin-bottom: 10%;
}
.main-article:hover{
    box-shadow: 0px 0px 50px rgb(100,100,100);
}
.main-article img{
    width: 100%;  
    border-bottom: solid 1px rgb(100,100,100);
    border-top: solid 1px rgb(100,100,100);
}
.div-precio{
    width: 100%;
    margin-left: 2%;
}
.div-viaje{
    width: 100%;
    font-size: 14px;
    margin-left: 2%;
}
.div-descripcion{
    width: 100%;
    font-size: 12px;
}
.div-descripcion p{
    margin: 0% 3% 3% 3%
}



/*FOOTER*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: rgb(100,100,100) solid 1px;
}

.footer-main{

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-div{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 80%;
    border-radius: 5%;
}
.footer-div:hover{
    box-shadow: 0px 0px 15px rgb(100,100,100);
}
.footer-div:hover i{
    font-size: 35px;
}

.footer-div h3{
    margin-left: 3%;
}
.main-ul{
    margin-left: 6%;
    margin-top: 0%;
    padding-left: 0%;
}
.main-ul li{
    list-style-type: none;
    margin-bottom: 10%;
}
.main-ul li a{
    text-decoration: none;
}
.midle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacta{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacta h3{
    margin-left: 10%;
}

.redes{
    width: 100%;
    display: flex;
}
.redes a{
    width: 15%;
    margin-left: 5%;
}
.redes a img{
    width: 100%;
}
#first-img{
    margin-left: 11%;
}
.descarga{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.descarga h3{
    margin-left: 10%;
}

.plataformas{
    width: 100%;
    display: flex;
}
.plataformas a{
    width: 30%;
    margin-left: 10%;
}
.plataformas a img{
    width: 100%;
    margin-left: 11%;
}
.footer-footer{
    margin-top: 3%;
}
.ff-content{
    font-size: 14px;
}


@media (min-width: 768px){
/*HEADER*/

    .div-logo a{
        width: 50%; 
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

/*nav*/
    .div-pages{
        display: flex;

    }

    .div-links{
       display: flex;
    }
    .burger-menu{
        display: none;
    }

/*MAIN*/
    main{
        background-image: url(/images/backgroundBeach.jpg);
    }
    .section-nav{
        width: 80%;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .busca-paquete{
    display: flex;
    font-size: 14px;
    }
    .busca-paquete h4{
        margin-left: 10%;
        height: 30px;
        width: 25%;
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        bottom: 15px;
        background-color: white;
        text-align: center;
        border-radius: 20px;
    }
    .main-select{
     width: 25%;
    }
    .div-origen-destino, .div-ida-vuelta{
        width: 40%;
    }
    .div-search{
        margin-top: 20px;
    }
    .div-origen, .div-destino{
        display: flex;
    }
    .div-destino, .div-vuelta{
        margin-top: 5%;
    }
/*ARTICLES*/
    .main-article{
        width: 40%;
    }

/*FOOTER*/

    .footer-div{
        width: 25%;
    }
    .contacta{
        width: 40%;
    }
    .descarga{
        width: 40%;
    }
}
@media (min-width: 1024px){

    .div-logo a{
        width: 121px;
        height: 97px;
    }   
     main{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .main-article{
        width: 20%;
    }
}