/*
font-family: 'Roboto', sans-serif; (bold: 200, 400 y 600)
*/
*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.desplegable-div{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position:absolute;
}
#desplegable{
    z-index: 10;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.cart-desplegable{
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: rgb(100,100,100) solid 1px;
}

.cart-desplegable i{
    font-size: 25px
}

#carouselExampleDark{
    width: 100%;
    height: 25vh;
}
.carousel-inner{
    height: 100%;
    width: 100%;
}

/*HEADER*/

header{
    width: 100%;
    background-color: #2155CD;
    display: flex;
    justify-content: space-between;
}

/*LOGO*/

.div-logo{
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div-logo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 100%;
    height: 100%;
}

/*nav*/
.div-pages{
    width: 60%;
    display: none;
    justify-content: center;
    align-items: flex-end;
}
.div-pages ul{
    width: 100%;
    padding-left: 0px;
    margin-bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.div-pages ul li{
    width: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-pages ul li:hover a{
   font-weight: 600;
}

.div-pages ul li a{
    text-decoration: none;
    color: white;
    margin: 1% 2% 1% 2%;
}

.div-links{
    width: 20%;
    display: none;
    justify-content: flex-end;
    align-items: center;

}

.div-i-1, .div-i-2{
    width: 30%;
    display: flex;
}
.div-links div a i:hover{
    font-size: 35px;
}
.div-links div a i{
    font-size: 30px;
    color: white;
}
.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
.burger-menu a i{
    color: white;
    font-size: 30px;
}


/*MAIN*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E8F9FD;
}
/*CARROUSELL*/
.carrousell{
    width: 100%;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrousell h1{
    color: black;
}

/*SECTION-SEARCH*/

/*TOP*/

.section-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: aliceblue;

}
.div-top{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.busca-paquete{
    display: flex;
    align-items: flex-end;
}
.busca-paquete h4{
    margin-left: 2%;
    background-color: aliceblue;
}
.div-filters{
    display: flex;
    flex-direction: column;
}
.main-select{
    width: 140px;
    height: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 2% ;
}
.main-select select{
    width: 100%;
    border-radius: 5px;
    background-color: aliceblue;
    border: none;
}
/*NAV-GAPS*/

.nav-gaps{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.div-origen-destino, .div-ida-vuelta{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
}
.div-destino, .div-vuelta{
    margin-top: 2%;
}
.div-origen, .div-destino, .div-ida, .div-vuelta{
    display: flex;
    flex-direction: column;
}

.main-input{
    width: 60%;
    height: 2em;
    margin-left: 2%;
    border: black 1px solid;
    border-radius: 5px;
}
.main-input:focus {
    height: 2.3em;
    width: 62%;
    border: #0d6efd 3px solid;
}
.main-label{
    margin-bottom: 2%;
    margin-left: 2%;
}

.div-search{
    width: 100%;
    text-align: center;
}

.btn-primary{
    width: 135px;
    margin-bottom: 20px;
}


/*ARTICLES*/

.title-div{
    width: 100%;
    margin-top: 10%;
}

.articles-title{
    margin-left: 3%;
    width: 100%;
}
.article-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.index-package-article{
 
}
.index-package-article:hover{
   
}

.index-article-img{
  

}
.index-info-div{
  
}

.index-info-top{
    
}
.index-title-art{
   
}
.index-title-art h4{
   
}
.index-article-text{

}
.index-article-text p{

}

.index-info-bottom{

}
.index-add-cart-div{

}
.index-precio-info{

}
.index-precio-info p{

}
#index-plane-clicked{

}
#index-plane-clicked:hover{

}



/*FOOTER*/

footer{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
}

.container_footer{
    max-width: 1170px;
    margin:auto;
}
.row_footer{
    display: flex;
    flex-wrap: wrap;
}
.item{
    list-style: none;
}
.footer{
    background-color: #2155CD;
    padding: 70px 0;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
    color: #24262b;
    background-color: #ffffff;
}
.footer-footer{
    display: flex;
    margin-top: 3%;
    justify-content: center;
}
/*responsive*/
@media(max-width: 767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width: 574px){
    .footer-col{
        width: 100%;
    }
}
/*aca terrmina eel new footer*/
.main-ul{
    margin-left: 6%;
    margin-top: 0%;
    padding-left: 0%;
}
.main-ul li{
    list-style-type: none;
    margin-bottom: 10%;
}
.main-ul li a{
    text-decoration: none;
}
.midle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacta{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacta h3{
    margin-left: 10%;
}

.redes{
    width: 100%;
    display: flex;
}
.redes a{
    width: 15%;
    margin-left: 5%;
}
.redes a img{
    width: 100%;
}
#first-img{
    margin-left: 11%;
}
.descarga{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.descarga h3{
    margin-left: 10%;
}

.plataformas{
    width: 100%;
    display: flex;
}
.plataformas a{
    width: 30%;
    margin-left: 10%;
}
.plataformas a img{
    width: 100%;
    margin-left: 11%;
}

.ff-content{
    font-size: 14px;
    color: #ffffff;
    justify-content: center;
}
@media (min-width: 437px){
.div-filters{
    flex-direction: row;
    justify-content: space-around;
}
}
@media (min-width: 768px){

    #carouselExampleDark{
        height: 40vh;
    }
    .desplegable-div{
        display: none;
    }

/*HEADER*/



    .div-logo a{
        width: 121px;
        height: 97px;
    }
/*nav*/
    .div-pages{
        display: flex;

    }

    .div-links{
       display: flex;
    }
    .burger-menu{
        display: none;
    }

/*MAIN*/
    /* main{
        background-image: url(/images/backgroundBeach.jpg);
    } */
    .section-nav{
        width: 80%;
        border-radius: 20px;
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
    .busca-paquete{
    display: flex;
    font-size: 14px;
    }
    .busca-paquete h4{
        margin-left: 10%;
        height: 30px;
        width: 300px;
        margin-top: 0px;
        margin-bottom: 0px;
        position: relative;
        bottom: 15px;
        background-color: aliceblue;
        text-align: center;
        border-radius: 20px;
    }

    .div-filters{
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 4%;
    }
    .div-origen-destino, .div-ida-vuelta{
        width: 40%;
    }
    .div-search{
        margin-top: 20px;
    }
    .div-origen, .div-destino{
        display: flex;
    }
    .div-destino, .div-vuelta{
        margin-top: 5%;
    }
/*ARTICLES*/
    .main-article{
        width: 40%;
    }

/*FOOTER*/

    .footer-div{
        width: 25%;
    }
    .contacta{
        width: 40%;
    }
    .descarga{
        width: 40%;
    }
}
@media (min-width: 1024px){
    #carouselExampleDark{
        height: 50vh;
    }

    .div-logo a{
        width: 121px;
        height: 97px;
    }
     main{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .main-article{
        width: 20%;
    }
}


/* REGISTER.EJS */

.form-register {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 5%;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }

  .form-register h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .form-register p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }


  .form-register a {
    color: white;
    text-decoration: none;
  }

  .form-register a:hover {
    color: white;
    text-decoration: underline;
  }

  .form-register .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 30px 0;
    font-size: 16px;
  }

  /* LOGIN.EJS */

  .form-login {
    width: 400px;
    background: #24303c;
    padding: 30px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 4px;
    font-family: 'calibri';
    color: white;
    box-shadow: 7px 13px 37px #000;
  }


  .form-login h4 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #1f53c5;
    font-family: 'calibri';
    font-size: 18px;
    color: white;
  }

  .form-login p {
    height: 40px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
  }

  .form-login a {
    color: white;
    text-decoration: none;
  }

  .form-login a:hover {
    color: white;
    text-decoration: underline;
  }

  .form-login .botons {
    width: 100%;
    background: #1f53c5;
    border: none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
  }

  /* PRODUCT.EJS */

  /*MAIN*/
.main-detail{
    display: flex;
    padding: 40px 20px;
}
.product_detail{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
}
.detail {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    opacity: revert;
    padding: 3% 7%;
    width: 100%;
    box-shadow: rgb(16 0 79 / 30%) 0 2px 8px 0;
    transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
    background-color: rgb(255, 255, 255);
}
.detail div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 4;
}
.div-classification{
    padding: 2% 3%;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 10px 10px 0  0;
    background-color: #2155CD;
    box-shadow: rgb(16 0 79 / 30%) 0 2px 8px 0;
    transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
}
.final{
    padding: 2% 3%;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    background-color: rgb(88, 141, 206);
    box-shadow: rgb(16 0 79 / 30%) 0 2px 8px 0;
    transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
}

.duration{
    display: flex;
    align-items:center;
}
.time_of_arrival{
    display: flex;
    align-items:end;
}

#product-editProduct-a{
    display: flex;
    justify-content: flex-end;
}
#product-editProduct-a a{
    width: 150px;
    text-align: center;
    text-decoration: none;
    background-color: #0d6efd;
    border-radius: 5px;
    color: white;
}

@media (min-width: 768px){
    .main-detail{
        padding: 40px 100px;
    }
}

/* CUSTOMPRODUCT.EJS */


/*MAIN TOP*/

.gigant-carousel{
    width: 100%;
    display: none;
    flex-direction: column;
}
.top-div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel1, .carousel2 {
    width: 49%;
}
.bottom-div{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.carousel3, .carousel4, .carousel5, .carousel6{
    width: 23%;
}

.pages{
    display: none;
}

/*ARTICLES*/

.title-section{
    width: 80%;
    background-color: white;
    margin: 5% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 5px rgb(100,100,100);
}
.title-section h2{
    margin: 1% 0%;
}

.section-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.package-article{
    text-decoration: none;
    margin: 4% 0%;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(100,100,100);
    border-radius: 20px;
    width: 80%;
    display: flex;
    flex-direction: column;
    transition: all, 0.5s;
}
.package-article:hover{
    box-shadow: 0px 0px 50px rgb(100,100,100);
}

.article-img{
    margin: 1%;
    border-radius: 20px;

}
.info-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.info-top{
    display: flex;
    flex-direction: column;
}
.title-art{
    width: 100%;
}
.title-art h4{
    margin: 1% 0 1% 2%;
}
.article-text{
    width: 100%;
}
.article-text p{
    margin: 2%;
}

.info-bottom{
    margin-bottom: 2%;
}
.add-cart-div{
    width: 100%;
    justify-self: end;
    display: flex;
    justify-content: flex-end;
}
.precio-info{
    display: flex;
    align-items: center;
    margin-right: 5%;
}
.precio-info p{
    font-size: 20px;
    margin: 0%;
}
#plane-unclicked{
    margin-right: 5%;
    font-size: 25px;
}
#plane-unclicked:hover{
    font-size: 30px;
}

#plane-clicked{
    display: none;
    margin-right: 5%;

}







@media (min-width: 768px){
    .section-article article{
        flex-direction: row;
    }
    .gigant-carousel{
        display: flex;
    }
}



/* EDITPRODUCT.EJS */

.main-form-edit{
    width: 100%;
    background: #24303c;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-form-top{
    display: flex;
    flex-direction: column;

}
.main-from-top-1{
    width: 100%;
    text-align: center;
    margin-top: 5%;
}
.main-from-top-1 input{
    margin-top: 5%;
    display: none;
}

#circle{
    font-size: 48px;
}

.main-from-top-2{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.main-form-div1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-form-div1-origen{
    width: 50%;
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.main-form-div1-edit{
    width: 50%;
    margin-top: 5%;
    margin-left: 2%;
    display: flex;
    flex-direction: column;
}

.main-form-div1-input{
    height: 40px;
    margin-top: 5%;
    border-radius: 5px;
}

.main-form-div2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-form-div2-label{
    margin-top: 5%;
    margin-left: 2%;
}

.main-form-div2-input{
    width: 90%;
    margin-left: 5%;
    height: 200px;
    margin-top: 2%;
    border-radius: 5px;
}



.main-form-div3{
    display: flex;
    justify-content: space-around;
}

.main-select-edit{
    width: 140px;
    height: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.main-select-edit select{
    color: white;
    background-color: #24303c;
    border: none;
}
.main-form-div4{
    display: flex;
    justify-content: flex-start;
}

.main-form-div4-label{
    margin-top: 5%;
    margin-left: 2%;
}

.main-form-div4-input{
    height: 40px;
    width: 20%;
    margin-left: 5%;
    margin-top: 5%;
    border-radius: 5px;
}


.main-form-bottom{
    text-align: center;
    margin-top: 5%;
}

@media (min-width: 768px){
    .main-form-div1{
        flex-direction: row;
        justify-content: space-around;
    }
    #circle{
        font-size: 96px;
    }
    .main-form-div1-origen, .main-form-div1-edit{
        width: 40%;
    }
    .main-select-edit select{
        font-size: 18px;
    }

}
@media (min-width: 1024px) {
    .main-form-top {
        flex-direction: row;
    }

    .main-from-top-1 {
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bigest-vertion {
        display: flex;
        justify-content: space-around;
    }

    .main-form-div2 {
        width: 70%;
    }

    .main-form-div3 {
        width: 20%;
        flex-direction: column;
        align-items: center;
    }

    .main-select-edit {
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .main-form-div4-label {
        margin-left: 5%;
    }

    .main-form-bottom {
        width: 70%;
        margin-left: auto;
    }
}
