*{
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

/*HEADER*/

header{
    width: 100%;
    background-color: #2155CD;
    display: flex;
    justify-content: space-between;
}

/*LOGO*/

.div-logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.div-logo a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img{
    width: 80%;
    height: 100%;
}

/*nav*/
.div-pages{
    width: 60%;
    display: none;
    justify-content: center;
    align-items: flex-end;
}
.div-pages ul{
    width: 100%;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.div-pages ul li a{
    text-decoration: none;
    color: white;
}

.div-links{
    width: 20%;
    display: none;
    justify-content: flex-end;
    align-items: center;

}

.div-i-1, .div-i-2{
    width: 30%;
    display: flex;
}
.div-links div a i{
    font-size: 30px;
    color: white;
}
.burger-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}
.burger-menu a i{
    color: white;
    font-size: 30px;
}

/*MAIN*/
.main-detail{
    display: flex;
    padding: 40px 20px;
}
.product_detail{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 20px 0;
}
.detail {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    opacity: revert;
    padding: 3% 7%;
    width: 100%;
    box-shadow: rgb(16 0 79 / 30%) 0 2px 8px 0;
    transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
    background-color: rgb(255, 255, 255);
}
.detail div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-grow: 4;
}
.div-classification{
    padding: 2% 3%;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 10px 10px 0  0;
    background-color: #2155CD;
    box-shadow: rgb(16 0 79 / 30%) 0 2px 8px 0;
    transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
}
.final{
    padding: 2% 3%;
    width: 100%;
    font-size: 14px;
    color: rgb(255, 255, 255);
    border-radius: 0 0 10px 10px;
    background-color: rgb(88, 141, 206);
    box-shadow: rgb(16 0 79 / 30%) 0 2px 8px 0;
    transition: background-color 0.4s ease 0s, box-shadow 0.4s ease 0s;
}

.duration{
    display: flex;
    align-items:center;
}
.time_of_arrival{
    display: flex;
    align-items:end;
}

@media (min-width: 768px){
    .main-detail{
        padding: 40px 100px;
    }
}
@media (min-width: 2560px){
    .main-detail{
        padding: 40px 20%;
    }
}
@media (min-width: 1024px){
    .main-detail{
        font-size: 20px;
        padding: 40px 16%;
    }
}
@media (min-width: 1024px){
    .main-detail{
        font-size: 25px;
        padding: 40px 20%;
    }
}

/*FOOTER*/

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-top: rgb(100,100,100) solid 1px;
}

.footer-main{

    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer-div{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 80%;
    border-radius: 5%;
}
.footer-div:hover{
    box-shadow: 0 0 15px rgb(100,100,100);
}
.footer-div:hover i{
    font-size: 35px;
}

.footer-div h3{
    margin-left: 3%;
}
.main-ul{
    margin-left: 6%;
    margin-top:  0;
    padding-left:  0;
}
.main-ul li{
    list-style-type: none;
    margin-bottom: 10%;
}
.main-ul li a{
    text-decoration: none;
}
.midle{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contacta{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contacta h3{
    margin-left: 10%;
}

.redes{
    width: 100%;
    display: flex;
}
.redes a{
    width: 15%;
    margin-left: 5%;
}
.redes a img{
    width: 100%;
}
#first-img{
    margin-left: 11%;
}
.descarga{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.descarga h3{
    margin-left: 10%;
}

.plataformas{
    width: 100%;
    display: flex;
}
.plataformas a{
    width: 30%;
    margin-left: 10%;
}
.plataformas a img{
    width: 100%;
    margin-left: 11%;
}
.footer-footer{
    margin-top: 3%;
}
.ff-content{
    font-size: 14px;
}

@media (min-width: 768px){
    /*HEADER*/

        .div-logo a{
            width: 50%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    /*nav*/
        .div-pages{
            display: flex;

        }

        .div-links{
           display: flex;
        }
        .burger-menu{
            display: none;
        }

    /*FOOTER*/

        .footer-div{
            width: 25%;
        }
        .contacta{
            width: 40%;
        }
        .descarga{
            width: 40%;
        }
    }
    @media (min-width: 1024px){

        .div-logo a{
            width: 121px;
            height: 97px;
        }
    }
