<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %> 

    <main>

        <form class="form-login" action="/login" method="GET">
            <h4>Iniciar sesión </h4>
            <input class="controls" type="email" name="correo" id="correo" placeholder="Ingrese su Correo">
            <input class="controls" type="password" name="correo" id="correo" placeholder="Ingrese su Contraseña">
            <label for="recodarme"> <input type="checkbox" name="recordarme" > Recordarme </label>
            <input class="botons" type="submit" value="Iniciar Sesión">
            <p> ¿Se te olvidó tu contraseña?<a href="#"> Click Aqui</a></p>
        </form>

    </main>

    <%- include('../partials/footer') %> 
    
</body>

</html>