<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/customProduct.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet" />
    <title>Digital Tourism</title>
</head>

<body>

    <%- include('../partials/header') %> 

    <main>
        <div class="gigant-carousel">
            <div class="top-div">
                <div class="carousel1">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel2">
                    <div id="carousel2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel2"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel2"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="bottom-div">
                <div class="carousel3">
                    <div id="carousel3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel3"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel3"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel4">
                    <div id="carousel4" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel4"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel4"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel5">
                    <div id="carousel5" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel5"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel5"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <div class="carousel6">
                    <div id="carousel6" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                            <div class="carousel-item">
                                <img src="/images/backgroundBeach.jpg" class="d-block w-100" alt="..." />
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carousel6"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carousel6"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-section">
            <h2>IDA Y VUELTA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

        <div class="title-section">
            <h2>ESTADIA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

        <div class="title-section">
            <h2>SERVICIO DE HOTELERIA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

    </main>

    <%- include('../partials/footer') %> 

</body>
</html>