<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %> 

    <main>


        <div class="title-section">
            <h2>IDA Y VUELTA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>De ++++ A ++++</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

        <div class="title-section">
            <h2>ESTADIA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

        <div class="title-section">
            <h2>SERVICIO DE HOTELERIA</h2>
        </div>

        <section class="section-article">
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
            <article class="package-article">
                <img class="article-img" src="/images/logo2.jpg" alt=""> 
                <div class="info-div">
                    <div class="info-top">
                        <div class="title-art">
                            <h4>Title</h4>
                        </div>
                        <div class="article-text">
                            <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                                Fuga quos, quisquam possimus neque nisi eos nam mollitia voluptatibus repudiandae simi,
                                dicta architecto fugit corrupti eius aliquam ex dolor placeat assumenda.</p>
                        </div>
                    </div>
                    
                    <div class="info-bottom">
                        <div class="add-cart-div">
                            <div class="precio-info">
                                <p>$9.999</p>
                            </div>
                            <a id="plane-unclicked" href=""><i class="fa-solid fa-plane-up"></i></a>
                            <a id="plane-clicked" href=""><i  class="fa-solid fa-plane-circle-check"></i></a>
                        </div>
                    </div>
                </div> 
            </article>
        </section>

    </main>

    <%- include('../partials/footer') %> 

</body>
</html>