<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %> 

    <main>

   
        <div class="main-customProduct">
            <div class="item-customProduct" id="page-done">

                <section class="custom-nav">
                    <a href="#page-done">Producto Armado</a>
                    <a href="#departure-reach">Ida y Vuelta</a>
                    <a href="#Hotel-service">Hotel y Servivcio</a>
                    <a href="#other-staff">Detalles del viaje</a>
                </section>
                
                <div class="what-goes">
                    <h2>SPRINT 6...</h2>
                    <h1>PRODUCT-DONE</h1>
                    <h6>Aca se va a mostrar el producto perzonalizado por el usuario</h6>
                </div>

                <!-- <form action="/products/saveCart/" method="POST">
                    <button type="submit" id="plane-unclicked">Mover al</button>
                </form> -->

            </div>

            <div class="item-customProduct" id="departure-reach">

                <section class="custom-nav">
                    <a href="#page-done"><div>Producto Armado</div></a>
                    <a href="#departure-reach">Ida y Vuelta</a>
                    <a href="#Hotel-service">Hotel y Servivcio</a>
                    <a href="#other-staff">Detalles del viaje</a>
                </section>

                <div class="what-goes">
                    <h2>SPRINT 6...</h2>
                    <h1>DEPARTURE-REACH</h1>
                    <h6>Aca se va a dar las opciones de ida y vuelta para perzonalizar el producto</h6>
                </div>

            </div>

            <div class="item-customProduct" id="Hotel-service">

                <section class="custom-nav">
                    <a href="#page-done"><div>Producto Armado</div></a>
                    <a href="#departure-reach">Ida y Vuelta</a>
                    <a href="#Hotel-service">Hotel y Servivcio</a>
                    <a href="#other-staff">Detalles del viaje</a>
                </section>

               <div class="what-goes">
                <h2>SPRINT 6...</h2>
                <h1> HOTEL-SERVICE</h1>
                <h6>Aca se va a dar las opciones de hotel y servicio para perzonalizar el producto</h6>
               </div>

            </div>

            <div class="item-customProduct" id="other-staff">

                <section class="custom-nav">
                    <a href="#page-done"><div>Producto Armado</div></a>
                    <a href="#departure-reach">Ida y Vuelta</a>
                    <a href="#Hotel-service">Hotel y Servivcio</a>
                    <a href="#other-staff">Detalles del viaje</a>
                </section>

                <div class="what-goes">
                    <h2>SPRINT 6...</h2>
                    <h1>OTHER-STUFF</h1>
                    <h6>Aca se va a dar las opciones extras para perzonalizar el producto</h6>
                </div>

            </div>
        </div>


    </main>

    <%- include('../partials/footer') %> 

</body>
</html>