<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>

    <%- include('../partials/header') %> 

    <main class="main-detail">
        <section class="carousel_section">
            <div class="container">
                <div class="carousel">
                    <input type="radio" name="slides" checked="checked" id="slide-1">
                    <input type="radio" name="slides" id="slide-2">
                    <input type="radio" name="slides" id="slide-3">
                    <input type="radio" name="slides" id="slide-4">
                    <input type="radio" name="slides" id="slide-5">
                    <input type="radio" name="slides" id="slide-6">
                    <ul class="carousel__slides">
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundBeach.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundMountain.webp" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundSnow.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundBeach.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundMountain.webp" alt="">
                                </div>
                            </figure>
                        </li>
                        <li class="carousel__slide">
                            <figure>
                                <div>
                                    <img src="/images/backgroundSnow.jpg" alt="">
                                </div>
                            </figure>
                        </li>
                    </ul>
                    <ul class="carousel__thumbnails">
                        <li>
                            <label for="slide-1"><img src="/images/backgroundBeach.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-2"><img src="/images/backgroundMountain.webp" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-3"><img src="/images/backgroundSnow.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-4"><img src="/images/backgroundBeach.jpg" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-5"><img src="/images/backgroundMountain.webp" alt=""></label>
                        </li>
                        <li>
                            <label for="slide-6"><img src="/images/backgroundSnow.jpg" alt=""></label>
                        </li>
                    </ul>
                </div>
            </div>
        </section>


        <section class="product_detail">
            <div class="div-classification">
                <span class="classification">Detalle ida</span>
            </div>
            <section class="detail">
                <div class="departure_time">
                    <span>Salida</span>
                    <span>9:00 </span>
                    <span>STG</span>
                </div>
                <div class="duration">
                    <span>Duracion</span>
                    <span>3 h 45 min</span>
                </div>
                <div class="time_of_arrival">
                    <span>Llegada </span>
                    <span>19:20</span>
                    <span>LIM</span>
                </div>
            </section>
            <div class="final">
                <span class="final-detail">Vuelo de ida • 04 dic 2022</span>
            </div>
        </section>
        <section class="product_detail">
            <div class="div-classification">
                <span class="classification">Detalle de vuelta</span>
            </div>
            <section class="detail">
                <div class="departure_time">
                    <span>Salida</span>
                    <span>9:00 </span>
                    <span>LIM</span>
                </div>
                <div class="duration">
                    <span>Duracion</span>
                    <span>3 h 45 min</span>
                </div>
                <div class="time_of_arrival">
                    <span>Llegada </span>
                    <span>19:20</span>
                    <span>STG</span>
                </div>
            </section>
            <div class="final">
                <span class="final-detail">Vuelo de vuelta • 10 dic 2022</span>
            </div>
        </section>


        <section class="product_detail">
            <div class="div-classification">
                <span class="classification">Detalle Hotel</span>
            </div>
            <section class="detail">
                <div class="price">
                    <span>hotel</span>
                    <span>CLP 91.865</span>
                </div>
            </section>
        </section>

        <section class="product_detail">
            <div class="div-classification">
                <span class="classification">Detalle servicios</span>
            </div>
            <section class="detail">
                <div class="price">
                    <span>auto</span>
                    <span>CLP 91.865</span>
                </div>
            </section>
        </section>
        <section id="product-editProduct-a">
            <a href="/editProduct">Editar producto</a>    
        </section>


    </main>

    <%- include('../partials/footer') %> 

</body>
</html>