<!DOCTYPE html>
<html lang="en">

    <%- include('../partials/head') %>

<body>
    
    <%- include('../partials/header') %> 

    <main>
        <h3 class="sub-cart"> Vuelos</h3>
        <section class="vuelos">
            <div class="img-cart"> <img src="/images/logo.jpg" alt="Descripcion imagen"></div>
            <div >
                <p> IDA Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>
            </div>
            <div>
                <p > VUELTA Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>
            </div>
            </div>
            <div class="precio-product-cart"> Precio</div>
        </section>
        <h3 class="sub-cart">Estadia</h3>
        <section class="Estadia">
            <div class="img-cart"> <img src="/images/logo.jpg" alt="Descripcion imagen"></div>
            <div class="info-estadia">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>

            </div>
            <div class="precio-product-cart"> Precio</div>
        </section>
        <h3 class="sub-cart">Servicios</h3>
        <section class="Servcios">
            <div class="img-cart"> <img src="/images/logo.jpg" alt="Descripcion imagen"></div>
            <div class="info-servicios">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>
            </div>
            <div class="precio-product-cart"> Precio</div>
        </section>

        <section class="total-comprar">
            <h3> Total: </h3>
            <input class="botons" type="button" value="Comprar">
        </section>
    </main>

    <%- include('../partials/footer') %> 

</body>

</html>