<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/index.css">
    <title>Digital Tourism</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
</head>

<body>
    
    <%- include('../partials/header') %> 

    <main>
        <h3 class="sub-cart"> Vuelos</h3>
        <section class="vuelos">
            <div class="img-cart"> <img src="/images/logo.jpg" alt="Descripcion imagen"></div>
            <div >
                <p> IDA Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>
            </div>
            <div>
                <p > VUELTA Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>
            </div>
            </div>
            <div class="precio-product-cart"> Precio</div>
        </section>
        <h3 class="sub-cart">Estadia</h3>
        <section class="Estadia">
            <div class="img-cart"> <img src="/images/logo.jpg" alt="Descripcion imagen"></div>
            <div class="info-estadia">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>

            </div>
            <div class="precio-product-cart"> Precio</div>
        </section>
        <h3 class="sub-cart">Servicios</h3>
        <section class="Servcios">
            <div class="img-cart"> <img src="/images/logo.jpg" alt="Descripcion imagen"></div>
            <div class="info-servicios">
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor, fuga recusandae et fugit id nam
                    animi dolorum. Omnis odit deserunt suscipit cupiditate veritatis voluptate eum, illum, quae tenetur
                    aliquid officiis.</p>
            </div>
            <div class="precio-product-cart"> Precio</div>
        </section>

        <section class="total-comprar">
            <h3> Total: </h3>
            <input class="botons" type="button" value="Comprar">
        </section>
    </main>

    <%- include('../partials/footer') %> 

</body>

</html>