<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>

<body>

    <%- include('../partials/header') %> 

    <main>
       <form action="" class="main-form-edit">
            
            <div class="main-form-top">
                <div class="main-from-top-1">
                    <input type="file" id="input-file-edit" name=""  required>
                    <label for="input-file-edit" ><i id="circle" class="fa-solid fa-image"></i></label>
                </div>
                <div class="main-from-top-2">
                    <div class="main-form-div1">
                        <div class="main-form-div1-origen">
                            <label class="main-form-div1-label" for="Origen-edit"><i class="fa-solid fa-plane-departure"></i></label>
                            <input class="main-form-div1-input" type="text" id="Origen-edit" name="Origen-edit" placeholder="Origen">
                        </div>
                        <div class="main-form-div1-edit">
                            <label class="main-form-div1-label" for="destino-edit"><i class="fa-solid fa-location-dot"></i></label>
                            <input class="main-form-div1-input" type="text" id="destino-edit" name="destino-edit" placeholder="Destino">
                        </div>
                    </div>

                    <div class="main-form-div1">
                        <div class="main-form-div1-origen">
                            <label class="main-form-div1-label" for="fecha-ida-edit">Fecha ida</label>
                            <input class="main-form-div1-input" type="date" id="fecha-ida-edit" name="fecha-ida-edit" >
                        </div>
                        <div class="main-form-div1-edit">
                            <label class="main-form-div1-label" for="fecha-vuelta-edit">Fecha vuelta</label>
                            <input class="main-form-div1-input" type="date" id="fecha-vuelta-edit" name="fecha-vuelta-edit">
                        </div>
                    </div>

                    <div class="bigest-vertion">
                        <div class="main-form-div2">
                        <label class="main-form-div2-label" for="descripcion-edit">Descripcion del producto</label>
                        <input class="main-form-div2-input" type="text" id="descripcion-edit" name="descripcion-edit">
                        </div>
                        <div class="main-form-div3">
                        <div class="main-select-edit">
                            <select name="" id="">
                                <option value="none">Tipo de Cabina</option>
                                <option value="">Economy</option>
                                <option value="">Premium</option>
                                <option value="">Premium vip</option>
                            </select>
                    </div>
                        <div class="main-select-edit">
                            <select name="" id="">
                                <option value="none">Tipo de servicio</option>
                                <option value="">2 Estrellas</option>
                                <option value="">3 Estrellas</option>
                                <option value="">4 Estrellas</option>
                                <option value="">5 Estrellas</option>
                            </select>
                    </div>
                        </div>
                    </div>
                    <div class="main-form-div4">
                        <label class="main-form-div4-label" for="precio-cu-edit">Precio por persona:</label>
                        <input class="main-form-div4-input" type="number" id="precio-cu-edit" name="precio-cu-edit" placeholder="$">
                    </div>
                </div>
            </div>
            <div class="main-form-bottom">
                <button class="btn btn-primary" type="submit" name="" id="">Crear</button>
            </div>

       </form>
    </main>

    <%- include('../partials/footer') %> 

</body>
</html>